/*========== BUTTON ==========*/
.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: cyan;
    border-radius: 40px;
    font-size: clamp(5px, 1rem, 10px);
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

    .btn-box:hover {
        box-shadow: 0 0 5px aqua, 0 0 25px cyan, 0 0 25px aliceblue;
    }

.btn-box-sm {
    display: inline-block;
    padding: 5px 10px;
    background: cyan;
    border-radius: 8px;
    font-size: clamp(10px, 1rem, 1.5rem);
    color: #001b29;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

    .btn-box-sm:hover {
        box-shadow: 0 0 5px aqua, 0 0 25px cyan, 0 0 25px aliceblue;
    }



/*========== SCROLL BUTTON ==========*/


#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: 2px solid #0ef;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: .2s ease-in-out 0s;
}

    /* Show button when user scrolls down */
    #scrollToTopBtn.show {
        display: block;
    }

    #scrollToTopBtn:hover {
        background-color: #0ef;
        transform: scale(1.25);
        color: black;
    }

/*========== IMAGE BUTTON ==========*/


.btn-img {
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    background: rgb(87, 201, 224);
    border-radius: 5px;
    font-size: clamp(0.5rem, 1rem, 2rem);
    color: #001b29;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-img-icon {
    width: 2.5rem; 
    height: 2.5rem;
    margin-left: 1rem; 
}

.btn-img:hover {
    box-shadow: 0 0 5px aqua, 0 0 25px cyan, 0 0 25px aliceblue;
}



/*========== LOTTIE ==========*/
.lottie {
    position: absolute;
    width: 20rem;
    height: 20rem;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

/*========== BLANK BOX ==========*/
.blank-box {
    width: 100%;
    height: 8rem;
    background-color: transparent;
}



/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: 0.5rem;
    background: #334a59;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(255,255,255,0.4);
    border-radius: 0.5rem;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(255,255,255,0.5);
    }



/*========== FOOTER ==========*/
.footer {
    background: linear-gradient(90deg, #1e323f, #103783, #1e323f);
    text-align: center;
    padding: 20px;
    box-shadow: 0 -4px 8px 0 rgba(255, 255, 255, 0.2), 0 -6px 20px 0 rgba(255, 255, 255, 0.19);
    animation: gradientFlow 15s linear infinite;
    background-size: 400% 400%;
}
    .footer.show-animation span {
        display: inline-block;
        opacity: 0;
        animation: showText 2s ease forwards;
    }




.contact-content {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.contact-label {
    font-size: 0.7rem;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.contact-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

    .contact-input:focus {
        border-color: #4CAF50;
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    }

        .contact-input:focus + .contact-label,
        .contact-input:not(:placeholder-shown) + .contact-label {
            color: #4CAF50;
            transform: translateY(-20px);
            font-size: 12px;
        }

/* Add smooth transition to the label */
.contact-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

textarea.contact-input {
    resize: none;
}

.contact-content textarea.contact-input {
    height: 4rem;
}
.contact-input:hover,
textarea.contact-input:hover {
    border-color: aqua;
}
.contact-content:hover .contact-label {
    color: cyan;
}
